* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }

  footer {
    padding: 1em;
    background-color: #333; 
    color: white;
    text-align: center;
}
/* added styling below */
ul {
    padding: 0; 
    margin: 0;
    font-size: 25px; /* sets the font size of the title of the ordered list to be 25px*/
    font-weight: bold; /* bolds the title of the list*/
  }
  ul li {
    padding: 0; 
    margin: 1em; /* indent the text in the list */
    font-size: 18px; /* set the font size of the elements to be 18px*/
    font-weight: normal; /* ensure the emails are not bolded*/

  }
.navSpan {
    display: flex; /* this is to help with the alignment of the navigation bar*/
    justify-content: space-between; /* creates a space between the content*/
    padding: 1em; /* padding for the text so that it is aligned correctly*/
    color: white; /* color the text white */
}

nav {
  justify-content: space-between;
  align-items: center;
    display: flex; /* this is to help with the alignment of the navigation bar*/
    background-color: red; /* set the background color to green*/
    color: white; /* color the text white */
    padding: 0.25em;
    background-size: 300px 100px;
}


nav ul {
 display: flex; /* formats the links in the navigation bar */
}
nav ul li{
  list-style: none; /* formats the links in the navigation bar to have no bullet points */
}
nav ul li a {
  display: block; /* changes the display */
  color: white; /* color the text white in the buttons */
  text-decoration: none; 
  margin: 1em; /* push the text to the left 1em*/

}
.error p {
  color: red; /* sets error message to red */
}

.cta {
    padding: 1em;
    background-color: red; /* sets background color of the whatsapp section to red  */
    color: white;
    text-align: center; /* aligns the text in the middle of the page*/

}

.cta img{
    background-color: #333; 
    height: 20px; /* sets the whatsapp image to be a square */
    width: 20px;/* sets the whatsapp image to be a square */
    justify-content: space-between; 
}

.cta button {
    justify-content: space-between; 
    color: white; /* color the text white in the buttons */
    text-decoration: none;
    background-color: #333;
    transition: background-color 1s linear;
}


.author-img {
    border: 1px solid red; /* sets a boarder of the image to be red */
    width: 170px; /* make the width to be 170 */
    height: 170px; /* make the height to be 170 */
    border-radius: 50%; /* make the image circular */
    object-fit: cover;
    margin-right: 20px;
    justify-content: space-between;
    gap: 20px; /* space between image and text */
}
.author-info{
  gap: 20px; /* space between image and text */
  float: right; /* push text to the right*/
  display: block; 
  align-content: center; 
  padding: 0;
  margin-top: 1em;
  margin-right: 12em;
  
}
  
  code {
    font-size: 1.2em;
  }
  
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  